<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>view detail</title>
  </head>
  <body>
    <h3>username:{{data.username}}</h3>
    <h3>occupation:{{data.occupation}}</h3>
    <h3>address1:{{data.add1}}</h3>
    <h3>address2:{{data.add2}}</h3>
    <h3>city:{{data.city}}</h3>
    <h3>state:{{data.state}}</h3>
    <h3>country:{{data.country}}</h3>
    <h3>pin_code:{{data.pin}}</h3>
    <button type="button" name="button"><<a href="update">Update</a></button>
  </body>
</html>
